/* Basic styling for the header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

/* Style for the logo in the header */
.logo img {
    max-height: 50px;
}

/* User info section within the header */
.user-info {
    display: flex;
    align-items: center;
    font-size: 16px;
}

/* User information span */
.user-info span {
    margin-right: 10px;
    font-weight: bold;
}

/* Logout button styling */
.user-info button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

/* Logout button hover effect */
.user-info button:hover {
    background-color: #0056b3;
}

/* Style for the messages */
.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    color: red; /* Change this color based on your message type */
}

/* Individual message items */
.messages li {
    margin-bottom: 5px;
}

/* Styling for message tags, like error or success */
.messages li.error {
    color: red;
}

.messages li.success {
    color: green;
}

/* Basic button styling (for general use) */
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* General button hover effect */
button:hover {
    background-color: #218838;
}

/* Basic styling for links */
a {
    color: #28a745;
    text-decoration: none;
    padding: 5px
}

a:hover {
    color: #218838;
    font-weight: bold;
    font-size: 15px;
}

/* Table styling */

th, td {
    padding: 10px; /* Gives the table extra spacing */
    border-bottom: 0.5px solid black; /* Separates the table rows by a border */
    text-align: left; /* Aligns the text to the left */
}

td {
    border-left: 0.5px solid black; /* Separates the table headers by a border */
    font-weight: normal; /* Sets the font weight to normal */
}

table {
    border-spacing: 0; /* Removes the spacing between borders in the table */
    overflow-y: auto; /* Adds a scrollbar to the table if it goes over the max height */
    max-height: 300px; /* Sets the maximum height of the table */
    display: block; /* Displays the table as a block */
}  

th {
    position: sticky; /* Makes the table headers stick to the top when scrolling */
    top: 0; /* Positions the table headers at the top of the table */
    background-color: #ececec; /* Sets the background color of the table headers to contrast with the table body*/
}

table, .tablediv {
    border: 1px solid black; /* Adds a border to the outside of the table */
}

.tablediv {
    display: inline-block; /* Reduces the tables width to only fit the content */
}

.positivetransaction { /* Sets the styling for positive transactions */
    color:#4cda4c;
    font-weight: bold;
}

.negativetransaction { /* Sets the styling for positive transactions */
    color: #f15454;
    font-weight: bold;
}

/* Link button styling */

a.button1 { /* Regular styling for button1 */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #28a745;
    border-radius: 5px;
    margin: 5px 10px 5px 0px;
    font-size: 14px;
    display: inline-block;
}

a.button1:hover { /* Styling for when button1 is hovered over */
    background-color: #218838;
    font-weight: normal;
}

a.button2 { /* Regular styling for button2 */
    color: #28a745;
    text-decoration: none;
    padding: 9px 14px;
    background-color: white;
    border-radius: 5px;
    margin: 5px 10px 5px 0px;
    font-size: 14px;
    border: 1px solid #28a745;
    display: inline-block;
}

a.button2:hover { /* Styling for when button2 is hovered over */
    color: #218838;
    border: 1px solid #218838;
    font-weight: normal;
}
a.button3 { /* Regular styling for button3 */
    color: #007BFF;
    text-decoration: none;
    padding: 6px 12px;
    background-color: white;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
    font-size: 14px;
    border: 1px solid #007BFF;
    display: inline-block;
}

a.button3:hover { /* Styling for when button3 is hovered over */
    color: #0056b3;
    border: 1px solid #0056b3;
    font-weight: normal;
}



/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: transparent ;
  }
  
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

/* Font styling (For all text)*/
html {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', Verdana, sans-serif;
}